html {
    overflow-y: scroll; 
  }
  footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #003135;
    color: #5BC2C2;
    font-family: Tahoma, sans-serif;
  }
  
  footer p {
    margin: 5px 0;
  }
  
  footer img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-inline: -5px;
  }

.mini-frame {
    display: inline-block;
    margin: 30px 40px; 
    text-align: center;
  }
  
  .friend-name {
    color: #5BC2C2;
    font-family: Tahoma, sans-serif;
    font-size: 18px;
    margin-top: 10px;
  }
  